[Unit]
Description=Greeter Service

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/usr/bin/greeter

[Install]
WantedBy=multi-user.target
